.app-container {
  display: grid; 
  grid-template-rows: auto auto; 
  justify-items: center; 
  margin-top: 50px;
}

.calendar-container {
  display: grid; 
  grid-template-columns: 1fr; 
  align-items: start; 
  justify-items: center; 
  width: 250px;
  height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
