body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .app {
    background-color: #yellow;
  }
  
  .app-container {
    display: flex;
  }
  
  header {
    background-color: #green;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  aside {
    background-color: #lightgreen;
    width: 200px;
    padding: 25px;
  }
  
  aside ul {
    list-style: none;
    padding: 0;
  }
  
  aside li {
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  main {
    flex: 1;
    padding: 25px;
  }
  
